	*{
		margin: 0px;
		padding: 0px;
	}

	.body-all{
		position: relative;
	}
	/*主题内容部分*/
	.center{
		border: 1px solid #CCCCCC;
	    width: 60%;
	    margin: 0 5%;
	    border-radius: 10px;
	}

	/*标题*/
	.article-title{
		text-align: center;
		font-size: 25px;
	}

	/*说明*/
	.div-explain{
		text-align: center;
	}

	.div-explain div{
		padding: 4px;
	}
	/*内容*/
	.article-content{
		width: 95%;
		margin-right: 2.5%;
		margin-left: 2.5%;
	}

	/*设置文章内容中的图片最大宽度*/
	.article-content img{
		max-width: 725px;
	}
	
	/*分享*/
	.share_btns{
		border: 1px dashed #ccc;
		line-height: 25px;
	}
	/*翻页*/
	.page{
	    width: 60%;
	    margin: 0 5%;
	    border-radius: 10px;
	}

	.hr-bottom{
		border: 1px solid #CCCCCC;
	}