	*{
		margin: 0px;
		padding: 0px;
	}

	.border{
		position: relative;
		width: 85%;
		margin-left: 90px;
		margin-top: 10px;
		/*border: 1px solid red;*/
	}

	/*头像*/
	.head{
		top: -10px;
		position: absolute;
	    left: -90px;
	    height: 80px;
	    width: 80px;
	    border-radius: 50%;
	}

	/*发布时间*/
	.release-time{
		font-size: 12px;
		color: #808080;

	}
	/*用户昵称*/
	.nickname{
		line-height: 33px;
		font-size: 15.33px;
	    color: #333333;
	    font-weight: 700;
	}

	/*标题*/
	.article-title{
		font-size: 25px;
		line-height: 45px;
	}

	.articl-cotent{
		margin-left: -10px;
    	padding: 10px;
	    font-size: 14px;
	    line-height: 23px;
	    /*word-wrap: break-word;*/
	}

	/*最外部div*/
	.center{
		border: 1px solid #CCCCCC;
	    width: 60%;
	    margin: 0 5%;
	    border-radius: 10px;
	}

	.body-all{
		position: relative;
	}

	/*增加评论的背景图片*/
	.comment_total{
		background: url(http://img.yoyo666.top/blog/user/images/icon_comment.gif) no-repeat;
	}
	/*增加阅读的背景图片*/
	.acitve_view{
		background: url(http://img.yoyo666.top/blog/user/images/icon_arrow.gif) no-repeat;
	}

	/*点赞的背景*/
	.acitve_like{
		background: url(http://img.yoyo666.top/blog/user/images/like.png) no-repeat;
		background-size:17px 17px;
	}

	/*推荐*/
	.acitve_recommend{
		background: url(http://img.yoyo666.top/blog/user/images/recommend.png) no-repeat;
		background-size:17px 17px;
	}


	/*底部详细信息增加padding使样式好看*/
	.tab-info{
		padding: 5px;
	}

	.tab-info a{
		margin-left: 3%;
		color: #555;
	}

	.tab-info a:hover{
		color: #307D74;
		text-decoration: none;
	}


	/*翻页*/
	.page{
	    width: 60%;
	    margin: 0 5%;
	    border-radius: 10px;
	}

	.hr-bottom{
		border: 1px solid #CCCCCC;
	}

	/*页头居中*/
	.page-header{
		background: #169FE6;
		height: 100px;
		margin-top: -20px;
		padding-top: 10px;
		text-align: center;
	}

	