	/*公共css属性*/
	/*页脚*/
	.footer{
		background: #169FE6;
		text-align: center;
	}

	/*页脚字体颜色*/
	.footer-content{
		font-size: 17px;
		color:white;
	}
	
	.container {
	    width: 100%;
	    background: #e7e7e7;
	    color: #777;
	}

	.container-center{
		margin-left: 3%;
	}

	/*分享备注*/
	.share_btns{
		/*border: 1px dashed red;*/
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 3%;
		margin-bottom: 5%;
	}

	/*分享下面的下一页*/
	.page-turn{
		margin-left: 5%;
	}

	/*博客说明*/
	.span-explain{
		margin-left: 5%;
	}

	/*侧边栏*/
	.side{
		position:fixed;
		width:30px;
		height:154px;
		right:0;
		top:214px;
		z-index:100;
		background: #323D45;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		text-align: center;
	}

	.side-span{
		color: white;
		font-size: 17px;
		margin-top: 100%;
	}

/*苹果浏览器不支持hover改用js完成，弃用*/
/*	.side:hover .side-hide{
		display: block;
	}*/

	.side-hide{
	    display: none;
	    position: fixed;
	    top: 150px;
	    background: #E8E8E8;
	    right: 0px;
	    z-index: 100;
	    width: 15%;
	    height: 240px;
	    border: 1px solid #CCC;
	}	

	/*公告标题*/
	.side-notice{
		height: 15px;
		font-size: 25px;
	}

	/*公告内容*/
	.side-notice-content{
		margin-top: 17px;
		width: 95%;
		margin-left: 2.5%;
	}
	/*侧边栏结束

	/*快速返回顶部*/
	.back-top {
        width: 50px;
        height: 37px;
        line-height: 37px;
        background: #169FE6;
        cursor: pointer;
        color: white;
        text-align: center;
        position: fixed;
        right: 100px;
        bottom: 50px;
        display: none;
        border-radius: 5px;
    }
    /*快速返回顶部按钮结束*/